#kaocha/v1 {:capture-output?                 false
            :kaocha/fail-fast?               false
            :plugins                         [:kaocha.plugin/profiling
                                              :kaocha.plugin/gc-profiling
                                              :kaocha.plugin/print-invocations
                                              :kaocha.plugin/junit-xml]
            :kaocha.plugin.junit-xml/target-file "target/junit.xml"
            :kaocha.plugin.junit-xml/add-location-metadata? true
            :tests                           [{:id                              :unit
                                               :kaocha/source-paths             ["src"]
                                               :kaocha/test-paths               ["test"]
                                               :ns-patterns                     [".*"]}]}
